@use 'variables';

.event {
    padding: 64px 0;


    &--primeiro-evento {
        background-image: linear-gradient(180deg, variables.$yellow, variables.$orange);
    }

    &--segundo-evento {
        background-image: linear-gradient(180deg, variables.$orange, variables.$orange);
    }

    &--image-left {
        .container {
            flex-direction: row-reverse;
        }

    }

    .container {
        display: flex;
        gap: 40px;
    }

    &__eventos {

        &__image {
            max-width: 360px;
        }
    }

    &__details {
        margin-right: 40px;

        &__title {
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        &__description {
            line-height: 24px;
        }
    }

    @media (max-width: 767px) {

        .container {
            display: block;
            margin: auto;

        }

        &__eventos{
            text-align: center;

            &__image {
                margin-top: 16px;
            }
        }
        

        &__details {
            margin-right: 0;
            margin-bottom: 16px;
            text-align: center;
        }
    }
}